
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPostLabel" data-translate="adsApp.post.home.createOrEditLabel">Create or edit a Post</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.post.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.post.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.message" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                    ng-model="vm.post.message"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.pageId" for="field_pageId">Page Id</label>
            <input type="text" class="form-control" name="pageId" id="field_pageId"
                    ng-model="vm.post.pageId"
                    ng-maxlength="45"/>
            <div ng-show="editForm.pageId.$invalid">
                <p class="help-block"
                    ng-show="editForm.pageId.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="45">
                    This field cannot be longer than 45 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.pageName" for="field_pageName">Page Name</label>
            <input type="text" class="form-control" name="pageName" id="field_pageName"
                    ng-model="vm.post.pageName"
                    ng-maxlength="45"/>
            <div ng-show="editForm.pageName.$invalid">
                <p class="help-block"
                    ng-show="editForm.pageName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="45">
                    This field cannot be longer than 45 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.category" for="field_category">Category</label>
            <input type="text" class="form-control" name="category" id="field_category"
                    ng-model="vm.post.category"
                    ng-maxlength="250"/>
            <div ng-show="editForm.category.$invalid">
                <p class="help-block"
                    ng-show="editForm.category.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="250">
                    This field cannot be longer than 250 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.categories" for="field_categories">Categories</label>
            <input type="text" class="form-control" name="categories" id="field_categories"
                    ng-model="vm.post.categories"
                    ng-maxlength="250"/>
            <div ng-show="editForm.categories.$invalid">
                <p class="help-block"
                    ng-show="editForm.categories.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="250">
                    This field cannot be longer than 250 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.postLink" for="field_postLink">Post Link</label>
            <input type="text" class="form-control" name="postLink" id="field_postLink"
                    ng-model="vm.post.postLink"
                    ng-maxlength="250"/>
            <div ng-show="editForm.postLink.$invalid">
                <p class="help-block"
                    ng-show="editForm.postLink.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="250">
                    This field cannot be longer than 250 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.picture" for="field_picture">Picture</label>
            <input type="text" class="form-control" name="picture" id="field_picture"
                    ng-model="vm.post.picture"
                    ng-maxlength="500"/>
            <div ng-show="editForm.picture.$invalid">
                <p class="help-block"
                    ng-show="editForm.picture.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="500">
                    This field cannot be longer than 500 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.fullPicture" for="field_fullPicture">Full Picture</label>
            <input type="text" class="form-control" name="fullPicture" id="field_fullPicture"
                    ng-model="vm.post.fullPicture"
                    ng-maxlength="500"/>
            <div ng-show="editForm.fullPicture.$invalid">
                <p class="help-block"
                    ng-show="editForm.fullPicture.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="500">
                    This field cannot be longer than 500 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.shareCount" for="field_shareCount">Share Count</label>
            <input type="number" class="form-control" name="shareCount" id="field_shareCount"
                    ng-model="vm.post.shareCount"
                    max="20"/>
            <div ng-show="editForm.shareCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.shareCount.$error.max" data-translate="entity.validation.max" translate-value-max="20">
                    This field cannot be more than 20.
                </p>
                <p class="help-block"
                    ng-show="editForm.shareCount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.reactionsCount" for="field_reactionsCount">Reactions Count</label>
            <input type="number" class="form-control" name="reactionsCount" id="field_reactionsCount"
                    ng-model="vm.post.reactionsCount"
                    max="20"/>
            <div ng-show="editForm.reactionsCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.reactionsCount.$error.max" data-translate="entity.validation.max" translate-value-max="20">
                    This field cannot be more than 20.
                </p>
                <p class="help-block"
                    ng-show="editForm.reactionsCount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.commentCount" for="field_commentCount">Comment Count</label>
            <input type="number" class="form-control" name="commentCount" id="field_commentCount"
                    ng-model="vm.post.commentCount"
                    max="20"/>
            <div ng-show="editForm.commentCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.commentCount.$error.max" data-translate="entity.validation.max" translate-value-max="20">
                    This field cannot be more than 20.
                </p>
                <p class="help-block"
                    ng-show="editForm.commentCount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.likeCount" for="field_likeCount">Like Count</label>
            <input type="number" class="form-control" name="likeCount" id="field_likeCount"
                    ng-model="vm.post.likeCount"
                    max="20"/>
            <div ng-show="editForm.likeCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.likeCount.$error.max" data-translate="entity.validation.max" translate-value-max="20">
                    This field cannot be more than 20.
                </p>
                <p class="help-block"
                    ng-show="editForm.likeCount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.loveCount" for="field_loveCount">Love Count</label>
            <input type="number" class="form-control" name="loveCount" id="field_loveCount"
                    ng-model="vm.post.loveCount"
                    max="20"/>
            <div ng-show="editForm.loveCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.loveCount.$error.max" data-translate="entity.validation.max" translate-value-max="20">
                    This field cannot be more than 20.
                </p>
                <p class="help-block"
                    ng-show="editForm.loveCount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.wowCount" for="field_wowCount">Wow Count</label>
            <input type="number" class="form-control" name="wowCount" id="field_wowCount"
                    ng-model="vm.post.wowCount"
                    max="20"/>
            <div ng-show="editForm.wowCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.wowCount.$error.max" data-translate="entity.validation.max" translate-value-max="20">
                    This field cannot be more than 20.
                </p>
                <p class="help-block"
                    ng-show="editForm.wowCount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.hahaCount" for="field_hahaCount">Haha Count</label>
            <input type="number" class="form-control" name="hahaCount" id="field_hahaCount"
                    ng-model="vm.post.hahaCount"
                    max="20"/>
            <div ng-show="editForm.hahaCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.hahaCount.$error.max" data-translate="entity.validation.max" translate-value-max="20">
                    This field cannot be more than 20.
                </p>
                <p class="help-block"
                    ng-show="editForm.hahaCount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.sadCount" for="field_sadCount">Sad Count</label>
            <input type="number" class="form-control" name="sadCount" id="field_sadCount"
                    ng-model="vm.post.sadCount"
                    max="20"/>
            <div ng-show="editForm.sadCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.sadCount.$error.max" data-translate="entity.validation.max" translate-value-max="20">
                    This field cannot be more than 20.
                </p>
                <p class="help-block"
                    ng-show="editForm.sadCount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.angryCount" for="field_angryCount">Angry Count</label>
            <input type="number" class="form-control" name="angryCount" id="field_angryCount"
                    ng-model="vm.post.angryCount"
                    max="20"/>
            <div ng-show="editForm.angryCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.angryCount.$error.max" data-translate="entity.validation.max" translate-value-max="20">
                    This field cannot be more than 20.
                </p>
                <p class="help-block"
                    ng-show="editForm.angryCount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.thankfulCount" for="field_thankfulCount">Thankful Count</label>
            <input type="number" class="form-control" name="thankfulCount" id="field_thankfulCount"
                    ng-model="vm.post.thankfulCount"
                    max="20"/>
            <div ng-show="editForm.thankfulCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.thankfulCount.$error.max" data-translate="entity.validation.max" translate-value-max="20">
                    This field cannot be more than 20.
                </p>
                <p class="help-block"
                    ng-show="editForm.thankfulCount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.createdTime" for="field_createdTime">Created Time</label>
                <div class="input-group">
                    <input id="field_createdTime" type="text" class="form-control" name="createdTime" datetime-picker="{{dateformat}}" ng-model="vm.post.createdTime" is-open="vm.datePickerOpenStatus.createdTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.createdDateRecord" for="field_createdDateRecord">Created Date Record</label>
                <div class="input-group">
                    <input id="field_createdDateRecord" type="text" class="form-control" name="createdDateRecord" datetime-picker="{{dateformat}}" ng-model="vm.post.createdDateRecord" is-open="vm.datePickerOpenStatus.createdDateRecord"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDateRecord')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.createdByRecord" for="field_createdByRecord">Created By Record</label>
            <input type="text" class="form-control" name="createdByRecord" id="field_createdByRecord"
                    ng-model="vm.post.createdByRecord"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.modifiedDateRecord" for="field_modifiedDateRecord">Modified Date Record</label>
                <div class="input-group">
                    <input id="field_modifiedDateRecord" type="text" class="form-control" name="modifiedDateRecord" datetime-picker="{{dateformat}}" ng-model="vm.post.modifiedDateRecord" is-open="vm.datePickerOpenStatus.modifiedDateRecord"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('modifiedDateRecord')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adsApp.post.modifiedByRecord" for="field_modifiedByRecord">Modified By Record</label>
            <input type="text" class="form-control" name="modifiedByRecord" id="field_modifiedByRecord"
                    ng-model="vm.post.modifiedByRecord"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
