<div>
    <!--<h2 data-translate="adsApp.post.home.title">Posts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="post.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="adsApp.post.home.createLabel">
                        Create new Post
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>-->
    <!--<div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pageName"><span data-translate="adsApp.post.pageName">Page Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="message"><span data-translate="adsApp.post.message">Message</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="link"><span data-translate="adsApp.post.link">Link</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="picture"><span data-translate="adsApp.post.picture">Picture</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fullPicture"><span data-translate="adsApp.post.fullPicture">Full Picture</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shareCount"><span data-translate="adsApp.post.shareCount">Share Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="likeCount"><span data-translate="adsApp.post.likeCount">Like Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="commentCount"><span data-translate="adsApp.post.commentCount">Comment Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="adsApp.post.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="post in vm.posts track by post.id">
                    <td><a ui-sref="post-detail({id:post.id})">{{post.id}}</a></td>
                    <td>{{post.pageName}}</td>
                    <td>{{post.message}}</td>
                    <td>{{post.link}}</td>
                    <td>{{post.picture}}</td>
                    <td>{{post.fullPicture}}</td>
                    <td>{{post.shareCount}}</td>
                    <td>{{post.likeCount}}</td>
                    <td>{{post.commentCount}}</td>
                        <td>{{post.createdDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="post-detail({id:post.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="post.edit({id:post.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="post.delete({id:post.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>-->

    <div class="row" infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
        <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="post in vm.posts track by $index">
            <div class="thumbnail col-sm-12">
                <!--<img class="col-sm-6" src="http://oro.vn/wp-content/uploads/2017/03/Luyen-nghe-tieng-anh-hieu-qua-theo-tung-buoc-oro.jpg">-->
                <img class="col-sm-6" src="{{post.picture}}">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><span class="glyphicon glyphicon-thumbs-up">{{post.likeCount}}K</span></li>
                        <li><span class="glyphicon glyphicon-comment">{{post.commentCount}}K</span></li>
                        <li><span class="glyphicon glyphicon glyphicon-share-alt">{{post.shareCount}}K</span></li>
                    </ul>
                    <p style="font-size: 13px">
                        Ad Posted On : 123456
                    </p>
                    <!--<div class="caption">-->
                    <b>{{post.pageName}}</b>
                    <p>{{post.message | limitTo:50 }}</p>
                    <!--<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i
                        class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a>
                    <a href="#" class="btn btn-default btn-xs" role="button">Button</a>-->
                    <!--</div>-->
                    <b>Ad posted from:</b><a href="{{post.link}}" target="_blank">Go To FB Page</a>
                </div>
            </div>
        </div>

        <!--<div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail col-sm-12">
                <img class="col-sm-6" src="http://oro.vn/wp-content/uploads/2017/03/Luyen-nghe-tieng-anh-hieu-qua-theo-tung-buoc-oro.jpg">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><span class="glyphicon glyphicon-thumbs-up">15K</span></li>
                        <li><span class="glyphicon glyphicon-comment">12K</span></li>
                        <li><span class="glyphicon glyphicon glyphicon-share-alt">2K</span></li>
                    </ul>
                    <p style="font-size: 13px">
                        Ad Posted On : 123456
                    </p>
                    &lt;!&ndash;<div class="caption">&ndash;&gt;
                    <b>Thumbnail label</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    &lt;!&ndash;<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i
                        class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a>
                    <a href="#" class="btn btn-default btn-xs" role="button">Button</a>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                    <b>Ad posted from:</b><a href="#">Go To FB Page</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail col-sm-12">
                <img class="col-sm-6" src="http://oro.vn/wp-content/uploads/2017/03/Luyen-nghe-tieng-anh-hieu-qua-theo-tung-buoc-oro.jpg">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><span class="glyphicon glyphicon-thumbs-up">15K</span></li>
                        <li><span class="glyphicon glyphicon-comment">12K</span></li>
                        <li><span class="glyphicon glyphicon glyphicon-share-alt">2K</span></li>
                    </ul>
                    <p style="font-size: 13px">
                        Ad Posted On : 123456
                    </p>
                    &lt;!&ndash;<div class="caption">&ndash;&gt;
                    <b>Thumbnail label</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    &lt;!&ndash;<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i
                        class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a>
                    <a href="#" class="btn btn-default btn-xs" role="button">Button</a>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                    <b>Ad posted from:</b><a href="#">Go To FB Page</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail col-sm-12">
                <img class="col-sm-6" src="http://oro.vn/wp-content/uploads/2017/03/Luyen-nghe-tieng-anh-hieu-qua-theo-tung-buoc-oro.jpg">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><span class="glyphicon glyphicon-thumbs-up">15K</span></li>
                        <li><span class="glyphicon glyphicon-comment">12K</span></li>
                        <li><span class="glyphicon glyphicon glyphicon-share-alt">2K</span></li>
                    </ul>
                    <p style="font-size: 13px">
                        Ad Posted On : 123456
                    </p>
                    &lt;!&ndash;<div class="caption">&ndash;&gt;
                    <b>Thumbnail label</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    &lt;!&ndash;<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i
                        class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a>
                    <a href="#" class="btn btn-default btn-xs" role="button">Button</a>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                    <b>Ad posted from:</b><a href="#">Go To FB Page</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail col-sm-12">
                <img class="col-sm-6" src="http://oro.vn/wp-content/uploads/2017/03/Luyen-nghe-tieng-anh-hieu-qua-theo-tung-buoc-oro.jpg">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><span class="glyphicon glyphicon-thumbs-up">15K</span></li>
                        <li><span class="glyphicon glyphicon-comment">12K</span></li>
                        <li><span class="glyphicon glyphicon glyphicon-share-alt">2K</span></li>
                    </ul>
                    <p style="font-size: 13px">
                        Ad Posted On : 123456
                    </p>
                    &lt;!&ndash;<div class="caption">&ndash;&gt;
                    <b>Thumbnail label</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    &lt;!&ndash;<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i
                        class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a>
                    <a href="#" class="btn btn-default btn-xs" role="button">Button</a>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                    <b>Ad posted from:</b><a href="#">Go To FB Page</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail col-sm-12">
                <img class="col-sm-6" src="http://oro.vn/wp-content/uploads/2017/03/Luyen-nghe-tieng-anh-hieu-qua-theo-tung-buoc-oro.jpg">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><span class="glyphicon glyphicon-thumbs-up">15K</span></li>
                        <li><span class="glyphicon glyphicon-comment">12K</span></li>
                        <li><span class="glyphicon glyphicon glyphicon-share-alt">2K</span></li>
                    </ul>
                    <p style="font-size: 13px">
                        Ad Posted On : 123456
                    </p>
                    &lt;!&ndash;<div class="caption">&ndash;&gt;
                    <b>Thumbnail label</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    &lt;!&ndash;<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i
                        class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a>
                    <a href="#" class="btn btn-default btn-xs" role="button">Button</a>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                    <b>Ad posted from:</b><a href="#">Go To FB Page</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail col-sm-12">
                <img class="col-sm-6" src="http://oro.vn/wp-content/uploads/2017/03/Luyen-nghe-tieng-anh-hieu-qua-theo-tung-buoc-oro.jpg">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><span class="glyphicon glyphicon-thumbs-up">15K</span></li>
                        <li><span class="glyphicon glyphicon-comment">12K</span></li>
                        <li><span class="glyphicon glyphicon glyphicon-share-alt">2K</span></li>
                    </ul>
                    <p style="font-size: 13px">
                        Ad Posted On : 123456
                    </p>
                    &lt;!&ndash;<div class="caption">&ndash;&gt;
                    <b>Thumbnail label</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    &lt;!&ndash;<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i
                        class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a>
                    <a href="#" class="btn btn-default btn-xs" role="button">Button</a>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                    <b>Ad posted from:</b><a href="#">Go To FB Page</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail col-sm-12">
                <img class="col-sm-6" src="http://oro.vn/wp-content/uploads/2017/03/Luyen-nghe-tieng-anh-hieu-qua-theo-tung-buoc-oro.jpg">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><span class="glyphicon glyphicon-thumbs-up">15K</span></li>
                        <li><span class="glyphicon glyphicon-comment">12K</span></li>
                        <li><span class="glyphicon glyphicon glyphicon-share-alt">2K</span></li>
                    </ul>
                    <p style="font-size: 13px">
                        Ad Posted On : 123456
                    </p>
                    &lt;!&ndash;<div class="caption">&ndash;&gt;
                    <b>Thumbnail label</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    &lt;!&ndash;<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i
                        class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a>
                    <a href="#" class="btn btn-default btn-xs" role="button">Button</a>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                    <b>Ad posted from:</b><a href="#">Go To FB Page</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail col-sm-12">
                <img class="col-sm-6" src="http://oro.vn/wp-content/uploads/2017/03/Luyen-nghe-tieng-anh-hieu-qua-theo-tung-buoc-oro.jpg">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><span class="glyphicon glyphicon-thumbs-up">15K</span></li>
                        <li><span class="glyphicon glyphicon-comment">12K</span></li>
                        <li><span class="glyphicon glyphicon glyphicon-share-alt">2K</span></li>
                    </ul>
                    <p style="font-size: 13px">
                        Ad Posted On : 123456
                    </p>
                    &lt;!&ndash;<div class="caption">&ndash;&gt;
                        <b>Thumbnail label</b>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        &lt;!&ndash;<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i
                            class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a>
                        <a href="#" class="btn btn-default btn-xs" role="button">Button</a>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                    <b>Ad posted from:</b><a href="#">Go To FB Page</a>
                </div>
            </div>
        </div>-->
    </div><!--/row-->
</div>

